* {
  box-sizing: border-box;
  font-family: "Work Sans", serif;
  font-size: 16px;
}

body {
  background-color: hsl(275, 100%, 97%);
  background-image: url(assets/images/background-pattern-mobile.svg);
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}
}

h1 {
  color: hsl(292, 42%, 14%);
  font-size: 2em;
  margin: 0;
}

h2 {
  color: hsl(292, 42%, 14%);
  font-size: 1em;
  max-width: 230px;
  align-content: center;
  margin: 0;
  cursor: pointer;

}

h2:hover {
  color: hsl(288, 74%, 40%);
  cursor: pointer;
}

p {
  color: hsl(292, 16%, 49%);
  line-height: 1.5;
  margin-top: 16px;
  padding: 0px;
  font-size: 0.875em;
}

a {
  color: hsl(0, 0%, 0%);
  text-decoration: none;
  font-size: 1em;
}

.star {
  width: 25px;
  margin-right: 25px;
}

.plus {
  padding: 0px;
}

.minus {
  padding: 0px;
}

.container {
  margin: 145px auto;
  background-color: hsl(0, 0%, 100%);
  border-radius: 9px;
  max-width: 330px;
  padding: 20px 25px 10px 25px;
  box-shadow: 0px 0px 20px hsla(0, 0%, 0%, 0.308);
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.faq {
  color: #ffffff;
  max-width: 325px;
}

.first-question {
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  color: #afafbb;
  border-top: none;
  padding-top: 16px;
}

.question {
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  color: #afafbb;
  border-top: 1px solid hsl(275, 100%, 97%);
  padding-top: 16px;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: 1000ms ease max-height;
  padding: 0;
}

.attribution {
  text-align: center;
  font-size: 10px;
}

@media only screen and (min-width: 1000px) {
  body {
    background-image: url(assets/images/background-pattern-desktop.svg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;    
  }

  h1 {
    font-size: 2.5em;
    margin: 0;
  }

  h2 {
    font-size: 1em;
    align-content: center;
    margin: 0;
    max-width: 600px;
  }

  p {
    font-size: 0.875em;
  }

  a {
    color: hsl(0, 0%, 0%);
    text-decoration: none;
    font-size: 1em;
  }

  .container {
    margin: 220px auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 9px;
    max-width: 520px;
    padding: 20px 25px 10px 25px;
  }

  .header {
    display: flex;
    align-items: center;
    margin: 20px 0;
  }

  .faq {
    color: #ffffff;
    max-width: 600px;
  }

  .first-question {
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    color: #afafbb;
    border-top: none;
    padding-top: 16px;
  }

  .question {
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    color: #afafbb;
    border-top: 1px solid hsl(275, 100%, 97%);
    padding-top: 16px;
  }

  .answer {
    max-height: 0;
    overflow: hidden;
    transition: 1000ms ease max-height;
    padding: 0;
  }

  .attribution {
    text-align: center;
    font-size: 10px;
  }
}
