*{
  box-sizing: border-box;
  font-family: "Work Sans", serif;
  font-size: 16px;
}

  body {
  background-color: hsl(275, 100%, 97%);
  background-image: url(assets/images/background-pattern-mobile.svg);
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  color: hsl(292, 42%, 14%);
  font-size: 2em;
  margin: 0;
}

h2 {
  color: hsl(292, 42%, 14%);
  font-size: 1em;
  max-width: 230px;
  align-content: center;
}

p {
  color: hsl(292, 16%, 49%);
  line-height: 1.5;
  margin: 0;
  font-size: .875em; 

}

a {
  color: hsl(0, 0%, 0%);
  text-decoration: none;
  font-size: 1em;
}

.star {
  width: 25px;
  margin-right: 25px;
}

.plus{
  padding: 0px;
}

.minus{
  padding: 0px;
}

.container {
  margin: 145px auto;
  background-color: hsl(0, 0%, 100%);
  border-radius: 9px;
  max-width: 330px;
  padding: 20px 25px 10px 25px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.faq{
  color: #ffffff;
  max-width: 325px;
}

.first-question {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  color: #afafbb;
  border-top: none;
}

.question {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  color: #afafbb;
  border-top: 1px solid hsl(275, 100%, 97%);
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: 1000ms ease max-height;
}

.attribution {
  text-align: center;
  padding: 20px 0;
  font-size: 10px;
}
